в проекте не должно быть своего апи, только внешние эндпоинты
Правила:
после своих изменений делай `docker compose down; docker compose up -d`
в сообщениях об ошибке пиши, что конкретно пошло не так
uuid текущего пользователя хранится в localStorage в поле user_profile в качестве параметра ID
базовый апи должен быть без уточнения пути и оканчиваться портом 8000
проект состоит из нескольких вкладок:
  вкладка хакатонов: routes/hackathons: hackathon-service.ts, team-service.ts: апи http://45.10.41.58:8000/docs
  вкладка мероприятия: апи http://45.10.41.58:8002/docs
  вкладка курсы
  вкладка менторство: апи http://45.10.41.58:8001/docs
  вкладка авторизация: апи http://45.10.41.58:8080/swagger/index.html
запросы к апи должны в точности совпадать с текущей документацией, перед изменением запросов внутри сервиса нужно определить в какой вкладке он находится и проверить апи для этой вкладки
в проекте данные должны быть замоканы, чтобы отображать их в случае ошибки в запросе
при добавлении запросов нужно контролировать настройку корсов
в проекте не должно быть url на localhost, все url должны быть на одну из перечисленных апи
при добавлении новых запросов для них нужно настраивать корсы 
allow credentials не поддерживается серверами